@use '../../style/components';

.VerifyTxSlide__verifying-txt {
    @include components.text();
    margin-bottom: 2rem;
}

.VerifyTxSlide__ring-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.VerifyTxSlide__error-label {
    @include components.text();
}

.VerifyTxSlide__error-msg {
    @include components.text();
    font-family: monospace;
}

.VerifyTxSlide__success {
    @include components.text();
}

.VerifyTxSlide__extra {
    @include components.text();
}
