@use '../../style/components';

.WalletSlide__loading-accounts {
    
}

.WalletSlide__loading-txt {
    @include components.text();
    margin-bottom: 2rem;
}

.WalletSlide__ring-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
